network:
  ethernets:
    {{ ansible_default_ipv4.interface | string }}:
      dhcp4: false
      addresses: 
        - {{ ansible_host }}/24
      routes:
        - to: default
          via: {{ hostvars['router01']['ansible_host'] }}
          metric: 100
      nameservers:
        addresses: 
          - {{ hostvars['dns01']['ansible_host'] }}
        search: [uws.lan]
      dhcp6: false
  version: 2