deb [arch={% if ansible_architecture == 'aarch64' %}arm64{% elif ansible_architecture == 'x86_64' %}amd64{% else %}{{ ansible_architecture }}{% endif %} signed-by={{ aptKeyDefault.dirPath }}{{ aptKey.1.gpgFile }}] https://baltocdn.com/helm/stable/debian/ all main
