{% for host in groups['u6sMasters'] %}
{{ directories.nfsShare.0.name }} {{ host }}(rw,sync,no_subtree_check,insecure,root_squash)
{% endfor %}
{% for host in groups['u6sCluster'] %}
{{ directories.nfsShare.1.name }} {{ host }}(rw,sync,no_subtree_check,insecure,root_squash)
{% endfor %}
